li a {
    color: #186723;
    font-family: 'Consolas';
}

#third{
     background-image: url("img/article_imag.png") 50% 0 no-repeat fixed;
     color: white;
     height: 650px;
     padding: 100px 0 0 0;
     }
