<html>
    <head>
        <title>Main Menu</title>
    </head>
    <body>
        <div>
            <h1><a href="/">This is the main menu</a></h1>
        </div>

        <div>
            <p>published: 2020 March</p>
            <h2><a href="">My first post</a></h2>
            <p> I'll write some more useful stuff here soon</p>
        </div>

        <div>
            <p>published: 2020 March</p>
            <h2><a href="">My second post</a></h2>
            <p>Here too</p>
        </div>
    </body>
</html>
